* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 580px;
    background-image: url(../images/bgg_hero.jpg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.main-header__brand a {
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    color: #FFBF00;
}

.main-navigation {
    margin-top: 15px;
}

.main-navigation__items {
    display: flex;
    gap: 50px;
}

.main-navigation__items {
    list-style: none;
}

.main-navigation__item a {
    text-decoration: none;
}