* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 600px;
    background-image: url(../images/bgg_hero.jpg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.main-header__brand a {
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    color: #FFBF00;
}

.main-navigation {
    margin-top: 15px;
}

.main-navigation__items {
    display: flex;
    gap: 50px;
}

.main-navigation__items {
    list-style: none;
}

.main-navigation__item a {
    text-decoration: none;
}

.main-navigation__item a:hover{
    color: #FFBF00;
    transition: 0.3s;
}

.main-navigation__item button{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: -10px;
    background-color: #FFBF00;
    color: white;
    border: 1px solid #FFBF00;
}

.main-navigation__item a{
    color: white;
}

.header-div-1 {
    margin-top: 10%;
    margin-left: 30px;
}

.header-div-1 h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header-div-1 p{
    color: rgb(218, 218, 218);
    margin-bottom: 15px;
}

.header-div-1 button{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFBF00;
    color: white;
    border: 1px solid #FFBF00;
}

.hero-png img{
    width: 28%;
    margin-left: 60%;
    margin-top: -22%;
}

.container2 {
    display: flex;
    gap: 50px;
    margin-top: 8%;
    margin-left: 3%;
}

.main-div-1 {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    padding: 24px;
}

.main-div-1 h3{
    font-weight: bold;
    color: rgb(0, 0, 70);
}

.main-div-1 p{
    color: rgb(33, 33, 59);
}